@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-default: 'Montserrat', sans-serif;
    --font-heading: 'Times New Roman', sans-serif;
}

@layer utilities {
    .animate-gradient {
      background-size: 200% 200%;
      animation: gradient-pulse 3s ease-in-out infinite;
    }
  
    @keyframes gradient-pulse {
      0%, 100% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
    }
  }

html {
    @apply font-default
}

.max-width {
    @apply mx-auto max-w-[1440px] px-4
}

.info-text {
    @apply text-xs text-slate-400 dark:text-slate-500
}

h1, h2, h3 {
    @apply font-heading
}

.label {
    @apply block text-sm font-medium mb-2
}

.invoice-font-small {
    @apply text-[clamp(4px,1.5vw,12px)]
}

.invoice-font {
    @apply text-[clamp(6px,1.7vw,15px)]
}

.invoice-font-large {
    @apply text-[clamp(8px,2vw,18px)]
}

